*{
    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;

}

img{
    width: 100%;
}

/* barra de navegacion */

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    
}

.menu .icon i{
    font-size: 30px;
    margin: 10px;
}

.menu .icon-buy i {
    font-size: 30px;
}

/* carrito */
.submenu i{
    font-size: 25px;
}
.submenu{
    position: relative;
    
}

.submenu #carrito{
    display: none;
    
}

.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    

    top: 100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    min-width: 300px;
}

.u-full-width th{
    padding: 10px;
}



#vaciar-carrito{
    border-radius: 5px;
    width: 330px;
    cursor: pointer;
}

#vaciar-carrito:hover{
    background-color: azure;
}

/* hero section */
.hero-section{
    height: 350px;
    background: url(/img/img-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.hero-img{
    position: relative;
}

.hero-content{
    position: absolute;
    margin-left: 250px;
    margin-top: 60px;

}

.hero-paragraph{
    color: white;
    line-height: 50px;
}

.hero-search{
    display: flex;
}

.hero-search input{
    text-align: center;
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 250px;
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
}

/* hero info */

.hero-info{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    width: 100%;
    height: 150px;
}

.list-info{
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.card{
    margin-top: 20px;
    color: white;
}

.card i{
    font-size: 30px;
}

.borrar-curso{
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 100%;
}

.borrar-curso:hover{
    cursor: pointer;
    color: black;
}

/* cursos */
.section-cursos{
    
    background-color: antiquewhite;

}
.section-cursos h1{
    text-align: center;
}
.content-cursos{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 90px;
    gap: 2pc;
    align-items: center;
    /* display: flex;
    columns: 3;
    justify-content: space-around;
    margin-bottom: 50px; */
}

.info-card img{
    width: 100px;
}

.card-curso{
    background-color: white;
    width: 300px;
    border-color: black;
    border: 10px;
    margin: 10px;
}

.info-card{
    margin: 10px;
}


.price-card{
    display: flex;
    justify-content: space-between;
}

.button{
    margin-top: 20px;
    height: 30px;
    width: 280px;
    background-color: #33C3F0;
    color: white;
    border-radius: 5px;
    border-color: transparent;

}

.button:hover{
    cursor: pointer;
    background-color: #1EAEDB;
}

/* footer */
.container{
    border-top: 1px solid #aaa;
}
.row{
    display: flex;
    margin-left: 100px;
}

.column-footer {
    display: flex;
    flex-direction: column;  
    margin: 20px;
}

.column-footer a{
    color: #1EAEDB;
    line-height: 30px;
}

@media (max-width: 1024px ){
    
}

@media (max-width: 507px ){
    .hero-section{
        background: url(/img/img-hero.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 250px;
        width: 600px;;
    
    }
    .hero-content{
        margin-left: 100px;
    }

    .card{
        margin: 0;
    }
    .list-info{
        display: inline;
    }
}